<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- DO NOT CHANGE LAUNCHER ACTIVITY
    for the love of it, if u change one line i amma torch you for real-->


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoxNews"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".SignUpActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:exported="true" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".FavoritesActivity"
            android:exported="false" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />

    </application>

</manifest>
